name: Snowflake SQL Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Snowflake pipeline
        run: |
          python python/run_sql.py
        env:
          SNOWFLAKE_ACCOUNT: "${{ secrets.SNOWFLAKE_ACCOUNT }}"
          SNOWFLAKE_USER: "${{ secrets.SNOWFLAKE_USER }}"
          SNOWFLAKE_PASSWORD: "${{ secrets.SNOWFLAKE_PASSWORD }}"
          SNOWFLAKE_ROLE: "${{ secrets.SNOWFLAKE_ROLE }}"
          SNOWFLAKE_WAREHOUSE: "${{ secrets.SNOWFLAKE_WAREHOUSE }}"
          SNOWFLAKE_OCSP_FAIL_OPEN: "true"
          SNOWFLAKE_S3_USE_ACCELERATE_ENDPOINT: "false"
